.footer-container {
    background: linear-gradient(90deg, rgb(23, 37, 58) 0%, rgb(58, 99, 138) 100%);;
    padding: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}